<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: head('curvePointList')}"></head>
  <body>
    <div class="container">
      <header th:replace="~{fragments/header :: header}"></header>
      <div class="row">
        <h2>Curve Point List</h2>
      </div>
      <div
        th:if="${successMessage}"
        th:text="${successMessage}"
        class="alert alert-success"
      ></div>
      <div
        th:if="${errorMessage}"
        th:text="${errorMessage}"
        class="alert alert-danger"
      ></div>
      <div class="row">
        <a href="/curvePoint/add" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>CurvePointId</th>
              <th>Term</th>
              <th>Value</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="curvePoint : ${curvePoints}">
              <td style="width: 10%" th:text="${curvePoint.id}"></td>
              <td th:text="${curvePoint.curveId}"></td>
              <td th:text="${curvePoint.term}"></td>
              <td th:text="${curvePoint.value}"></td>
              <td style="width: 15%" class="text-center">
                <a
                  th:href="@{/curvePoint/update/{id}(id=${curvePoint.id})}"
                  class="btn btn-link p-0"
                  >Edit</a
                >&nbsp;|&nbsp;
                <form
                  th:action="@{/curvePoint/{id}(id=${curvePoint.id})}"
                  method="post"
                  style="display: inline"
                  onsubmit="return confirm('Are you sure you want to delete this item ?');"
                >
                  <input type="hidden" name="_method" value="DELETE" />
                  <button type="submit" class="btn btn-link p-0">Delete</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
