<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: head('updateRating')}"></head>
  <body>
    <div class="container">
      <div class="row">
        <h2>Update Rating</h2>
      </div>
      <div
        th:if="${errorMessage}"
        th:text="${errorMessage}"
        class="alert alert-danger"
      ></div>
      <div class="row">
        <form
          th:action="@{/rating/{id}(id=${ratingId})}"
          th:object="${ratingDto}"
          method="post"
          class="form-horizontal"
          style="width: 100%"
        >
          <input type="hidden" name="_method" value="PUT" />
          <div class="form-group">
            <label for="moodysRating" class="col-sm-2 control-label"
              >MoodysRating</label
            >
            <div class="col-sm-10">
              <input
                id="moodysRating"
                type="text"
                class="col-4"
                th:field="*{moodys}"
                placeholder="MoodysRating"
              />
              <p
                class="text-danger"
                th:if="${#fields.hasErrors('moodys')}"
                th:errors="*{moodys}"
              ></p>
            </div>
          </div>
          <div class="form-group">
            <label for="sandPRating" class="col-sm-2 control-label"
              >SandPRating</label
            >
            <div class="col-sm-10">
              <input
                id="sandPRating"
                type="text"
                class="col-4"
                th:field="*{sand}"
                placeholder="SandPRating"
              />
              <p
                class="text-danger"
                th:if="${#fields.hasErrors('sand')}"
                th:errors="*{sand}"
              ></p>
            </div>
          </div>
          <div class="form-group">
            <label for="fitchRating" class="col-sm-2 control-label"
              >FitchRating</label
            >
            <div class="col-sm-10">
              <input
                id="fitchRating"
                type="text"
                class="col-4"
                th:field="*{fitch}"
                placeholder="FitchRating"
              />
              <p
                class="text-danger"
                th:if="${#fields.hasErrors('fitch')}"
                th:errors="*{fitch}"
              ></p>
            </div>
          </div>
          <div class="form-group">
            <label for="order" class="col-sm-2 control-label">Order</label>
            <div class="col-sm-10">
              <input
                id="order"
                type="number"
                class="col-4"
                th:field="*{order}"
                placeholder="FitchRating"
              />
              <p
                class="text-danger"
                th:if="${#fields.hasErrors('order')}"
                th:errors="*{order}"
              ></p>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <a class="btn btn-danger btn-sm" href="/rating/list">Cancel</a>
              <input
                class="btn btn-primary btn-sm"
                type="submit"
                value="Update Rating"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
