<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: head('userList')}"></head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6 text-right">
          <a href="/">Home</a>&nbsp;|&nbsp;<a href="/login">Login</a>
        </div>
      </div>
      <div
        th:if="${successMessage}"
        th:text="${successMessage}"
        class="alert alert-success"
      ></div>
      <div
        th:if="${errorMessage}"
        th:text="${errorMessage}"
        class="alert alert-danger"
      ></div>
      <div class="row">
        <h2>User List</h2>
      </div>
      <div class="row">
        <a href="/user/add" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Full Name</th>
              <th>User Name</th>
              <th>Role</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="user : ${users}">
              <td style="width: 10%" th:text="${user.id}"></td>
              <td th:text="${user.fullname}"></td>
              <td th:text="${user.username}"></td>
              <td style="width: 25%" th:text="${user.role}"></td>
              <td style="width: 15%" class="text-center">
                <a
                  th:href="@{/user/update/{id}(id=${user.id})}"
                  class="btn btn-link p-0"
                  >Edit</a
                >&nbsp;|&nbsp;
                <form
                  th:action="@{/user/delete/{id}(id=${user.id})}"
                  method="post"
                  style="display: inline"
                  onsubmit="return confirm('Are you sure you want to delete this item ?');"
                >
                  <button type="submit" class="btn btn-link p-0">Delete</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
