<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head :: head('tradeList')}"></head>
  <body>
    <div class="container">
      <header th:replace="~{fragments/header :: header}"></header>
      <div class="row">
        <h2>Trade List</h2>
      </div>
      <div
        th:if="${successMessage}"
        th:text="${successMessage}"
        class="alert alert-success"
      ></div>
      <div
        th:if="${errorMessage}"
        th:text="${errorMessage}"
        class="alert alert-danger"
      ></div>
      <div class="row">
        <a href="/trade/add" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Account</th>
              <th>Type</th>
              <th>Buy Quantity</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="trade : ${trades}">
              <td style="width: 10%" th:text="${trade.tradeId}"></td>
              <td th:text="${trade.account}"></td>
              <td th:text="${trade.type}"></td>
              <td th:text="${trade.buyQuantity}"></td>
              <td style="width: 15%" class="text-center">
                <a
                  th:href="@{/trade/update/{id}(id=${trade.tradeId})}"
                  class="btn btn-link p-0"
                  >Edit</a
                >&nbsp;|&nbsp;
                <form
                  th:action="@{/trade/delete/{id}(id=${trade.tradeId})}"
                  method="post"
                  style="display: inline"
                  onsubmit="return confirm('Are you sure you want to delete this item ?');"
                >
                  <button type="submit" class="btn btn-link p-0">Delete</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
